results/18_03_19/1/ch00/z_dots.png
results/18_03_19/1/ch00/z_dotsOverdots.png
results/18_03_19/1/ch00/z_everythingButDots.png
results/18_03_19/1/ch01/z_dots.png
results/18_03_19/1/ch01/z_dotsOverdots.png
results/18_03_19/1/ch01/z_everythingButDots.png
results/18_03_19/2/ch00/z_dots.png
results/18_03_19/2/ch00/z_dotsOverdots.png
results/18_03_19/2/ch00/z_everythingButDots.png
results/18_03_19/2/ch01/z_dots.png
results/18_03_19/2/ch01/z_dotsOverdots.png
results/18_03_19/2/ch01/z_everythingButDots.png
results/18_03_19/3/ch00/z_dots.png
results/18_03_19/3/ch00/z_dotsOverdots.png
results/18_03_19/3/ch00/z_everythingButDots.png
results/18_03_19/3/ch01/z_dots.png
results/18_03_19/3/ch01/z_dotsOverdots.png
results/18_03_19/3/ch01/z_everythingButDots.png
results/18_03_19/4/ch00/z_dots.png
results/18_03_19/4/ch00/z_dotsOverdots.png
results/18_03_19/4/ch00/z_everythingButDots.png
results/18_03_19/4/ch01/z_dots.png
results/18_03_19/4/ch01/z_dotsOverdots.png
results/18_03_19/4/ch01/z_everythingButDots.png
results/18_03_19/4/ch02/z_dots.png
results/18_03_19/4/ch02/z_dotsOverdots.png
results/18_03_19/4/ch02/z_everythingButDots.png
results/18_03_19/5/ch00/z_dots.png
results/18_03_19/5/ch00/z_dotsOverdots.png
results/18_03_19/5/ch00/z_everythingButDots.png
results/18_03_19/7/ch00/z_dots.png
results/18_03_19/7/ch00/z_dotsOverdots.png
results/18_03_19/7/ch00/z_everythingButDots.png
results/18_03_19/7/ch01/z_dots.png
results/18_03_19/7/ch01/z_dotsOverdots.png
results/18_03_19/7/ch01/z_everythingButDots.png
results/18_03_19/7/ch02/z_dots.png
results/18_03_19/7/ch02/z_dotsOverdots.png
results/18_03_19/7/ch02/z_everythingButDots.png
results/18_03_19/7/ch03/z_dots.png
results/18_03_19/7/ch03/z_dotsOverdots.png
results/18_03_19/7/ch03/z_everythingButDots.png
results/18_03_19/8/ch00/z_dots.png
results/18_03_19/8/ch00/z_dotsOverdots.png
results/18_03_19/8/ch00/z_everythingButDots.png
individual_notebooks/z_02_04_19_Dish3_50_ul_dots_added_to_media_mov3.ipynb
individual_notebooks/z_02_04_19_dish5_vortexed_and_sonicated_30ul_beads_KGluc_10ms_.ipynb
individual_notebooks/z_02_04_19_dish5_vortexed_and_sonicated_30ul_beads_mov1.ipynb
individual_notebooks/z_05_04_19_30uL_cadmium dots_spun down_dish4_kgluc.ipynb
individual_notebooks/z_05_04_19_30ul_cadmium_dots_dish3_kgluc.ipynb
individual_notebooks/z_05_04_19_30uL_cadmium_dots_spun_down_dish4_osmotic_shock.ipynb
individual_notebooks/z_05_04_19_30uL_In_dots_spundown_retest_dish2_kgluc_added_frame_80_150ms.ipynb
individual_notebooks/z_05_04_19_30ul_indium_dots_dish1_region2.ipynb
individual_notebooks/z_05_04_19_30ul_indium_dots_kgluc_dish1_region1.ipynb
individual_notebooks/z_05_04_19_30ul_Indium_dots_spun_down_dish2_kgluc_region1_.ipynb
individual_notebooks/z_05_04_19_30ul_indiumdots_spun down_retest_dish2_water added_frame80.ipynb
individual_notebooks/z_25_03_19_Cd_dots and gCAMP_dish1_mov1.ipynb
individual_notebooks/z_25_03_19_Cd_dots and gCAMP_dish1_mov1_cropped.ipynb
individual_notebooks/z_25_03_19_Cd_dots and gCAMP_dish1_mov2.ipynb
individual_notebooks/z_25_03_19_Cd_dots and gCAMP_dish2_mov1.ipynb
individual_notebooks/z_25_03_19_Cd_dots and gCAMP_dish2_mov2.ipynb
individual_notebooks/z_25_03_19_Cd_dots_K_Glluc_axons_10mins postkgluc.ipynb
individual_notebooks/z_25_03_19_Cd_dots_K_Glluc_axons_kgluc.ipynb
individual_notebooks/z_25_03_19_Osmotic_Shock.ipynb
results/02_04_19/Dish1_Ind_dots_and_gcamp/jpgs/z_dots.png
results/02_04_19/Dish1_Ind_dots_and_gcamp/jpgs/z_dotsOverdots.png
results/02_04_19/Dish1_Ind_dots_and_gcamp/jpgs/z_everythingButDots.png
results/02_04_19/Dish3_50_ul_dots_added_to_media/jpgs/movie1/c0/z_dots.png
results/02_04_19/Dish3_50_ul_dots_added_to_media/jpgs/movie1/c0/z_dotsOverdots.png
results/02_04_19/Dish3_50_ul_dots_added_to_media/jpgs/movie1/c0/z_everythingButDots.png
results/02_04_19/Dish3_50_ul_dots_added_to_media/jpgs/movie3/z_dots.png
results/02_04_19/Dish3_50_ul_dots_added_to_media/jpgs/movie3/z_dotsOverdots.png
results/02_04_19/Dish3_50_ul_dots_added_to_media/jpgs/movie3/z_everythingButDots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie1/jpgs/z_dots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie1/jpgs/z_dotsOverdots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie1/jpgs/z_everythingButDots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie2/jpgs/z_dots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie2/jpgs/z_dotsOverdots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie2/jpgs/z_everythingButDots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie3/jpgs/z_dots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie3/jpgs/z_dotsOverdots.png
results/02_04_19/dish4_100ul_dots_30min_inc/movie3/jpgs/z_everythingButDots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/KGluc_10ms_/z_dots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/KGluc_10ms_/z_dotsOverdots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/KGluc_10ms_/z_everythingButDots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/mov1/z_dots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/movie1_/z_dots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/movie1_/z_dotsOverdots.png
results/02_04_19/dish5_vortexed and sonicated_30ul beads/movie1_/z_everythingButDots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/combined_jpgs/z_dots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/end/z_dots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/end/z_dotsOverdots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/end/z_everythingButDots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/middle/z_dots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/middle/z_dotsOverdots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/middle/z_everythingButDots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/start/z_dots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/start/z_dotsOverdots.png
results/05_04_19/30uL_cadmium dots_spun down_dish4_kgluc/jpgs/start/z_everythingButDots.png
results/05_04_19/30ul_cadmium_dots_dish3_kgluc/jpgs/z_dots.png
results/05_04_19/30ul_cadmium_dots_dish3_kgluc/jpgs/z_dotsOverdots.png
results/05_04_19/30ul_cadmium_dots_dish3_kgluc/jpgs/z_everythingButDots.png
results/05_04_19/30ul_cadmium_dots_killed_to_death_with_green_light/jpgs/z_dots.png
results/05_04_19/30ul_cadmium_dots_killed_to_death_with_green_light/jpgs/z_dotsOverdots.png
results/05_04_19/30ul_cadmium_dots_killed_to_death_with_green_light/jpgs/z_everythingButDots.png
results/05_04_19/30uL_cadmium_dots_spun_down_dish4_osmotic_shock/jpgs/z_dots.png
results/05_04_19/30uL_cadmium_dots_spun_down_dish4_osmotic_shock/jpgs/z_dotsOverdots.png
results/05_04_19/30uL_cadmium_dots_spun_down_dish4_osmotic_shock/jpgs/z_everythingButDots.png
results/05_04_19/30uL_In_dots_spundown_retest_dish2_kgluc_added_frame_80_150ms/jpgs/z_dots.png
results/05_04_19/30uL_In_dots_spundown_retest_dish2_kgluc_added_frame_80_150ms/jpgs/z_dotsOverdots.png
results/05_04_19/30uL_In_dots_spundown_retest_dish2_kgluc_added_frame_80_150ms/jpgs/z_everythingButDots.png
results/05_04_19/30ul_indium_dots_dish1_region2/jpgs/z_dots.png
results/05_04_19/30ul_indium_dots_dish1_region2/jpgs/z_dotsOverdots.png
results/05_04_19/30ul_indium_dots_dish1_region2/jpgs/z_everythingButDots.png
results/05_04_19/30ul_indium_dots_kgluc_dish1_region1/30ul_indium_dots_kgluc_dish1_region1_jpgs/z_dots.png
results/05_04_19/30ul_indium_dots_kgluc_dish1_region1/30ul_indium_dots_kgluc_dish1_region1_jpgs/z_dotsOverdots.png
results/05_04_19/30ul_indium_dots_kgluc_dish1_region1/30ul_indium_dots_kgluc_dish1_region1_jpgs/z_everythingButDots.png
results/05_04_19/30ul_Indium_dots_spun_down_dish2_kgluc_region1_/jpgs/z_dots.png
results/05_04_19/30ul_Indium_dots_spun_down_dish2_kgluc_region1_/jpgs/z_dotsOverdots.png
results/05_04_19/30ul_Indium_dots_spun_down_dish2_kgluc_region1_/jpgs/z_everythingButDots.png
results/05_04_19/30ul_Indium_dots_spun_down_dish2_kgluc_region1_/jpgs/firstPhase/z_dots.png
results/05_04_19/30ul_Indium_dots_spun_down_dish2_kgluc_region1_/jpgs/secondPhase/z_dots.png
results/05_04_19/30ul_indiumdots_spun down_retest_dish2_water added_frame80/jpgs/z_dots.png
results/05_04_19/30ul_indiumdots_spun down_retest_dish2_water added_frame80/jpgs/z_dotsOverdots.png
results/05_04_19/30ul_indiumdots_spun down_retest_dish2_water added_frame80/jpgs/z_everythingButDots.png
results/05_04_19/30ul_indiumdots_spun down_retest_dish2_water added_frame80/jpgs/first_100/z_dots.png
results/05_04_19/30ul_indiumdots_spun down_retest_dish2_water added_frame80/jpgs/first_100/z_dotsOverdots.png
results/05_04_19/30ul_indiumdots_spun down_retest_dish2_water added_frame80/jpgs/first_100/z_everythingButDots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch00/z_dots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch00/z_dotsOverdots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch00/z_everythingButDots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch01/z_dots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch01/z_dotsOverdots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch01/z_everythingButDots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch02/z_dots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch02/z_dotsOverdots.png
results/18_03_19/Gcampanddots_GFP_DAMP_DSRED_Kglut/ch02/z_everythingButDots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie1_400ms/ch00/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie1_400ms/ch00/z_everythingButDots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie1_400ms/ch00_cropped/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie1_400ms/ch02/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie1_400ms/ch02_cropped/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie2_400ms/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie2_400ms/z_dotsOverdots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie2_400ms/z_everythingButDots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie2_400ms/ch00/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish1/movie2_400ms/ch02/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov1/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov1/z_dotsOverdots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov1/z_everythingButDots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov1/ch00/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov1/ch02/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov2/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov2/z_dotsOverdots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov2/z_everythingButDots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov2/ch00/z_dots.png
results/25_03_19/Cd_dots and gCAMP_dish2/mov2/ch01/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_10 min_postkgluc/ch00/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_10 min_postkgluc/ch01/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_10 min_postkgluc/jpg_ch01/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_10 min_postkgluc/jpg_ch01/z_dotsOverdots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_10 min_postkgluc/jpg_ch01/z_everythingButDots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/ch00/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/ch01/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/control/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/control/z_dotsOverdots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/control/z_everythingButDots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/test/z_dots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/test/z_dotsOverdots.png
results/25_03_19/Cd_dots_K_Glluc/Cd_dots_K_Glluc_axons_kgluc/test/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/merged/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/merged/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/merged/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage1/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage1/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage1/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage2/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage2/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage2/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage3/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage3/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage3/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage4/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage4/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/ch01_Cd_dots_osmotic_shock/stage4/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/dyeChannel/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/dyeChannel/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/dyeChannel/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/dyeChannel/stage1/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/dyeChannel/stage2/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/non_normalised/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/non_normalised/z_dotsOverdots.png
results/25_03_19/Cd_dots_osmotic_shock/non_normalised/z_everythingButDots.png
results/25_03_19/Cd_dots_osmotic_shock/non_normalised/stage1/z_dots.png
results/25_03_19/Cd_dots_osmotic_shock/non_normalised/stage2/z_dots.png
